/home/ocr_project/tesstrain/data filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_char_omit_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/high_vocalized_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_char_omit_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_char_omit_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/mid_vocalized_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_similar_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/low_vocalized_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/low_vocalized_no_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/no_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_char_omit_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_char_omit_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_similar_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_char_omit_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_similar_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/mid_vocalized_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_char_omit_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/high_vocalized_no_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/no_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_similar_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/high_vocalized_no_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/low_vocalized_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_char_omit_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_similar_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_similar_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_similar_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/high_vocalized_no_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/mid_vocalized_no_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/mid_vocalized_no_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_char_omit_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_similar_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/high_vocalized_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/low_vocalized_no_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/high_diacritics_evaluation-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/mid_diacritics_evaluation-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_similar_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/high_vocalized_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/low_diacritics_evaluation-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_similar_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_similar_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/evaluation-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_char_omit_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/mid_vocalized_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/twenty_five_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_char_omit_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_char_omit_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/langdata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/mid_vocalized_no_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_char_omit_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/low_vocalized_no_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_char_omit_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_similar_char_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/low_vocalized_error.traineddata filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/no_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ara filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/five_char_omit_error-ground-truth filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/images filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/fifteen_similar_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_similar_char_error filter=lfs diff=lfs merge=lfs -text
/home/ocr_project/tesstrain/data/ten_similar_char_error-ground-truth filter=lfs diff=lfs merge=lfs -text
